<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/webcam.js}"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="attendanceController">
    <div>
        <webcam channel="channel"
                on-streaming="onSuccess()"
                on-error="onError(err)"
                on-stream="onStream(stream)"></webcam>
        <button ng-click="makeSnapshot()">take picture</button>
        <canvas id="snapshot" width="300" height="300"></canvas>

        <div ng-bind-html="{student}"></div>
    </div>
</div>
<br>
<!--<tr th:each="subject: ${subjects}">-->
<!--    <td th:text="${subject.subjectName}" />-->
<!--</tr>-->
<p>Hey You are here on adding student page</p>
</body>
</html>
