<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body ng-app="myApp" ng-controller="indexController">
<p>
    <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
</p>
<button ng-click="subjectPage()">Subject</button>
<button ng-click="teacherspage()">Teacher</button>
</body>
</html>